.feedback{
    .container{
        margin: 0 auto;
        @extend %container;
        margin-bottom: 75px;
    }
    &__heading{
        text-align: center;
        @include text(26px, 400, 39px, $textColor);
        margin-bottom: 50px;
        &--dots{
            display: none;
            @include media(sm){
                display: inline-block;
            }
        }
        @include media(sm){
            text-align: left;
            @include text(20px, 500, 29px, $textColor);
        }
        @include media(md){
            @include text(28px, 500, 41px, $textColor);
        }
    }
    &__list{
        @include media(xs){
            margin-bottom: 70px;
        }
        &-item{
            list-style-type: none;
            margin-bottom: 74px;
            position: relative;
            &--wrapper{
                display:flex;
                flex-wrap: wrap;
                margin-bottom: 25px;
                @include media(xs){
                    margin-right: 200px;
                    }
                    @include media(sm){
                        margin: 0;
                    }
            }
            &--last{
                display: none;
                @include media(xs){
                    display: block;
                }
            }
            &::after {
                content: "";
                width: 290px;
                height: 0.5px;
                background-color: $secondaryColor;
                position: absolute;
                left:0;
                bottom:-45px;
                @include media(xs){
                    width: 505px;
                }
                @include media(sm){
                    width: 510px;
                    left: 121px;
                }
            }
        }
    }
    &__img{
        width: 84px;
        height: 84px;
        margin-right: 18px;
        margin-bottom: 24px;
        @include media(sm){
            width: 101px;
            height: 101px;
        }
    }
    &__name{
        @include text(16px, 500, 19px, $textColor);
        margin-bottom: 6px;
        @include media(sm){
            @include text(18px, 500, 22px, $textColor);
        }
    }
    &__work{
        @include text(14px, 400, 21px, $textColor);
        margin-bottom: 7px;
    }
    &__recommend{
        margin-left: 20px;
        @include text(14px, 400, 21px, $textColorLight);
        position: relative;
        @include media(sm){
            align-self:flex-end;
        }
        &::before{
            content: "";
            width: 16px;
            height: 15px;
            position: absolute;
            background-image:url(./../images/feedback/feedback_pseudo.png);
            top: 0px;
            left: -19px;
        }
    }
    &__text{
        @include text(14px, 400, 21px, $textColor);
        margin-bottom: 50px;
        margin-top: 15px;
        width: 292px;
        @include media(xs){
            width: 505px;
        }
        @include media(sm){
            width: 510px;
            @include text(16px, 400, 24px, $textColor);
            margin-left: 121px;
        }
    }
    &__date{
        @include text(14px, 400, 21px, $textColorLight);
        @include media(sm){
            margin-left: 121px;
        }
    }
    &__link{
        @include text(17px, 500, 25px, $linkColor);
        position: relative;
        &--wrapper{
            text-align: center;
        }
        &::after {
            content: "";
            width: 6px;
            height: 11px;
            background: url(./../images/feedback/link_pseudo.png);
            position: absolute;
            right: -12px;
            bottom: 4px;
            @include media(sm){
                width: 11px;
                height: 6px;
                position: absolute;
                background:url(./../images/feedback/feedback_arrow_double.png);
                right: -20px;
                bottom: 5px;
            }
        }
        @include media(sm){
            &::before{
                content: "";
                width: 11px;
                height: 6px;
                position: absolute;
                background-image:url(./../images/feedback/feedback_arrow_double.png);
                top: 9px;
                left: -20px;
            }
        }
    }
    .rating-group {
        display: inline-flex;
    }
    
      /* make hover effect work properly in IE */
    .rating__icon {
        pointer-events: none;
    }
    
      /* hide radio inputs */
    .rating__input {
        position: absolute !important;
        left: -9999px !important;
    }
    
      /* hide 'none' input from screenreaders */
    .rating__input--none {
        display: none
    }
    
      /* set icon padding and size */
    .rating__label {
        cursor: pointer;
        padding: 0 0.1em;
        font-size: 2rem;
    }
    
      /* set default star color */
    .rating__icon--star {
        color: orange;
    }
    
      /* if any input is checked, make its following siblings grey */
    .rating__input:checked ~ .rating__label .rating__icon--star {
        color: #ddd;
    }
    
      /* make all stars orange on rating group hover */
    .rating-group:hover .rating__label .rating__icon--star {
        color: orange;
    }
    
      /* make hovered input's following siblings grey on hover */
    .rating__input:hover ~ .rating__label .rating__icon--star {
        color: #ddd;
    }
    }
    

