.person{
    .container {
        margin:0 auto;
        @extend %container;
        margin-bottom:10px;
        @include media(xs){
            margin-bottom:43px;
        }
    }
    &__wrapper{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: 282px 1fr;
        position: relative;
        @include media(md){
            grid-template-columns: 584px 555px;
            grid-template-rows: 1fr;
        }
        &::before {
            content: "";
            width: 668px;
            height: 0.5px;
            background-color: $secondaryColor;
            position: absolute;
            left: 0px;
            top: -39px;
            display: none;
            @include media(sm){
                display: block;
            }
            @include media(md){
                width: 1139px;
                left: -50px;
            }
        }
    }
    &__inner{
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
        @include media(md){
            grid-column: 2;
            grid-row: 1;
        }
        }

    &__img{
        margin-bottom:23px;
        @include media(sm){
            margin-top:13px;
        }
        &--wrapper{
            position: relative;
            &::after{
                content: "";
                width: 31px;
                height: 27px;
                position: absolute;
                background-image:url(./../images/person/person_pseudo_heart.svg);
                top: -15px;
                left: 182px;
            }
    }
}
    &__name{
        @include text(18px, 500, 22px, $textColor);
        margin-bottom: 16px;
    }
    &__work{
        @include text(14px, 400, 21px, $textColor);
        margin-bottom: 10px;
    }
    &__link{
        &--top{
            @include text(14px, 500, 21px, $linkColor);
            width:229px;
            margin-bottom: 25px;
            text-align: center;
        }
        &--bottom{
            @include text(16px, 500, 23px, $linkColor);
            position: relative;
            &::after{
                content: "";
                width: 11px;
                height: 6px;
                position: absolute;
                background-image:url(./../images/person/person_pseudo_arrow.svg);
                top: 9px;
                right: -21px;
            }
        }
        
    }
    &__list{
        list-style-type: none;
        position: relative;
        @include media(md){
            grid-column: 1;
            grid-row: 1;
        }
        &::after {
            content: "";
            width: 506px;
            height: 0.5px;
            background-color: $secondaryColor;
            position: absolute;
            left:0;
            bottom: -19px;
            display: none;
            @include media(xs){
                display: block;
            }
            @include media(xs){
                width: 668px;
            }
            @include media(md){
                width: 1139px;
                left: -50px;
            }
        }
        &-item{
            margin-bottom: 30px;
        }
    }
    &__heading{
        @include text(18px, 500, 26px, $textColor);
        margin-bottom: 14px;
    }
    &__text{
        @include text(16px, 400, 24px, $textColor);
        margin-bottom: 22px;

    }


}