.photo{
    .container {
        @extend %container;
        margin:0 auto;
        display: flex;
        flex-direction: column;
        justify-items:center;
        margin-bottom: 63px;
    }
    &__heading{
        @include text(26px, 400, 31px, $textColor);
        text-align: center;
        margin: 0 auto;
        width: 266px;
        margin-bottom: 32px;
        @include media(sm){
            @include text(20px, 500, 29px, $textColor);
            text-align:left;
            margin: 0;
            margin-bottom: 30px;
        }
        @include media(md){
            @include text(28px, 500, 40px, $textColor);
            margin-bottom: 50px;
            width: 292px;
        }
    }
    &__slider{
        margin: 0;
        @include media(sm){
            margin-left:50px;
            display: grid;
            grid-template-columns: 277px 277px;
            grid-template-rows: 1fr 1fr 1fr 1fr;
            gap: 11px;
            margin-bottom: 43px;
        }
        @include media(md){
            margin-left:0;
            grid-template-columns: 277px 277px 277px 277px;
            grid-template-rows: 1fr 1fr;
        }
        &-item{
            margin-right:53px;
        }
    }
    &__link{
        display: none;
        position: relative;
        width: 166px;
        @include text(17px, 500, 25px, $linkColor);
        margin: 0 auto;
        &::before{
            content: "";
            width: 11px;
            height: 6px;
            position: absolute;
            background-image:url(./../images/photo/photo_pseudo_arrow.png);
            top: 11px;
            left: 176px;
        }
        &::after{
            content: "";
            width: 11px;
            height: 6px;
            position: absolute;
            background-image:url(./../images/photo/photo_pseudo_arrow.png);
            top: 11px;
            right: 176px;
        }
        // &::after {
        //     content: "";
        //     width: 668px;
        //     height: 0.5px;
        //     background-color: $secondaryColor;
        //     position: absolute;
        //     left:0;
        //     top: 0;
        // }
        @include media(sm){
            display: block;
        }

    }
    
}